.register{
    background-color: white !important;
    color: rgb(31, 30, 30) !important;
        width:90%!important;
        margin-left: 0px !important;

}
.login{
    color: white !important;
    background: rgb(31, 30, 30) !important;
}
input, select{
    width: 100% !important;
    margin-left: 60px !important;
}
label{
    font-size: 15px !important;

}
.registration-form{
    width: 500px !important;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}